
body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: red;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.logo img {
  height: 50px;
}

nav {
  display: flex;
  align-items: center;
}

.center-links {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.center-links li {
  margin: 0 10px;
}

.center-links li a {
  text-decoration: none; 
  color: white; 
  font-weight: bold; 
}

.reserve a {
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  background-color:  red; /* #f5015e*/
  border-radius: 5px;
  font-weight: bold;
}

.menu-icon {
  display: none;
  font-size: 30px;
  cursor: pointer;
  color: white;
}

@media (max-width: 768px) {
  .center-links,
  .reserve {
    display: none;
  }

  .menu-icon {
    display: block;
  }

  .menu-active .center-links,
  .menu-active .reserve {
    display: block;
    text-align: center;
  }

  nav {
    flex-direction: column;
  }

  .center-links {
    flex-direction: column;
    margin-top: 10px;
  }

  .center-links li {
    margin: 10px 0;
  }

  .reserve a {
    display: block;
    margin-top: 10px;
  }
}
